[Unit]
Description=Gunicorn instance to serve app 2
After=network.target

[Service]
User=app2
Group=app-users
WorkingDirectory=/tmp
# Environment="INSTANCE=app2"
ExecStart=/usr/local/bin/gunicorn -w 4 -b 0.0.0.0:5002 app2:app
Restart=always

[Install]
WantedBy=multi-user.target